body {
    background-image: url("https://scx2.b-cdn.net/gfx/news/hires/2017/6-studyfindsth.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
.mt-new{
  margin-top: 15rem !important;
}

.landing-font {
  font-size: calc(15rem + 5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .landing-font {
    font-size: 5.5rem;
  }
}