.new-display {
    font-size: 10px !important;
    font-weight: 300;
    line-height: 1.2;
  }
  @media (min-width: 1200px) {
    .display-2 {
      font-size: 4.5rem;
    }
  }

/* 
.new-button-learn-more {
    color: #000;
    border-color: #f8f9fa;
    background-color: #f8f9fa !important;
  }
.new-button-learn-more:hover {
    color: #000;
    background-color: #ffc0cb;
    border-color: #ffc0cb !important;
} */

.text-purple {
  --bs-text-opacity: 1;
  color: rgb(75,0,130) !important;
}
