.header-img {
    width: 100%;
    height: 400px;
    background: url("https://scx2.b-cdn.net/gfx/news/hires/2017/6-studyfindsth.jpg");
    background-size: cover;
  }

  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

.browse1{
    color: white;
  }

.header-button{
  background-color: darkgreen !important;
  border-color: darkgreen;
}

.header-button:hover{
  background-color: lightgreen;
  border-color: lightgreen;
}

.bi-cup-straw, .straw-background{
  background-color: pink;
}

.bi-patch-question, .question-background{
  background-color: yellow;
}