/* .title{
    color: rgb(75,0,130);
} */

.description{
    color: rgb(0, 0, 0);
    font-style: italic;
}

.desc-button{
    background-color: rgb(75,0,130) !important;
    border: rgb(167, 146, 201) !important;
    margin: 10px;

}

.text-align{ 
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px;
}

.ingredient-background{
    background-color: white;
}

.text-left {
    text-align: left;
}


li{
    display: inline-block;
}

img {
    height:50px;
    width: 50px;
}
