/* .title{
    color: rgb(75,0,130);
} */

.description{
    color: rgb(255, 255, 255);
    font-style: italic;
}

.desc-button{
    background-color: rgb(75,0,130) !important;
    border: rgb(167, 146, 201) !important;
    margin: 10px;

}

.text-align{ 
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px;
}

.ingredient-background{
    background-color: white;
}

.text-left{ 
    background-color: white;
    text-align: left;
    color: black;
    padding: 10px;
}

li{
    display: inline-block;
}

img {
    height:50px;
    width: 50px;
}

#checkboxes label {
    float: left;
    color: rgb(75,0,130);
  }

#checkboxes ul {
    margin: 0;
    list-style: none;
    float: left;
    color: rgb(75,0,130);
  }

/* .accordion-style1{
    margin: 25px;
    width: 200px;
    right: 50px;


} */

/* .table-align {
    margin-left: auto;
    margin-right: auto;
  } */

/* table {
    border-collapse: separate;
    border-spacing: 50px 0;
}
  
td {
    padding: 10px 0;
} */

th, td{
    padding: 0.5rem 1rem 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content a:hover {background-color: #ddd;}


.tooltip2 {
    position: relative;
    display: inline-block;
  }
  
.tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: lightgreen;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    border: green;
    border: 2px green solid;
}

.tooltip2:hover .tooltiptext2{
    visibility: visible;
}

.tooltipcolor{
    color: green !important;
}
  
.tooltip3 {
    position: relative;
    display: inline-block;
  }
  
.tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: lightgreen;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    border: 2px green solid;
}

.tooltip3:hover .tooltiptext3{
    visibility: visible;
}


.table-left {
    margin-right: auto;
}