.video{
    position: relative !important;
    display: inline-block !important;
    width: 40%;
    height: 300px !important;
    clear: right;
}



.recipe{
    position: absolute !important;
    display: inline-block !important;
    width: 500px;
    top: 100px;
    right: 125px;
}

.burrito-description{
    color: white;
    font-style: italic;

}

.time-button{
    background-color: green !important;
    border: green;
    margin: 10px;

}

.text-align{ 
    background-color: white;
    text-align: left;
    color: black;
    padding: 10px;
}

.ingredient-background{
    background-color: white;
}

li{
    display: inline-block;
}

img {
    height:50px;
    width: 50px;
}

.tooltip2 {
    position: relative;
    display: inline-block;
  }
  
.tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: lightgreen;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    border: green;
    border: 2px green solid;
}

.tooltip2:hover .tooltiptext2{
    visibility: visible;
}

.tooltipcolor{
    color: green !important;
}
  
.tooltip3 {
    position: relative;
    display: inline-block;
  }
  
.tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: lightgreen;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    border: 2px green solid;
}

.tooltip3:hover .tooltiptext3{
    visibility: visible;
}

.tooltipcolor{
    color: green !important;
}