/* .title{
    color: rgb(75,0,130);
} */

.description{
    color: rgb(255, 255, 255);
    font-style: italic;
}

.desc-button{
    background-color: rgb(75,0,130) !important;
    border: rgb(167, 146, 201) !important;
    margin: 10px;

}

.text-align{ 
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px;
}

.ingredient-background{
    background-color: white;
}

.text-left{ 
    background-color: white;
    text-align: left;
    color: black;
    padding: 10px;
}

li{
    display: inline-block;
}

img {
    height:50px;
    width: 50px;
}

#checkboxes label {
    float: left;
    color: rgb(75,0,130);
  }

#checkboxes ul {
    margin: 0;
    list-style: none;
    float: left;
    color: rgb(75,0,130);
  }

/* .accordion-style1{
    margin: 25px;
    width: 200px;
    right: 50px;


} */

/* .table-align {
    margin-left: auto;
    margin-right: auto;
  } */

  th, td{
    padding: 0.5rem 1rem 0;
}