/* .title{
    color: rgb(75,0,130);
} */

.description{
    color: rgb(0, 0, 0);
    font-style: italic;
}

.desc-button{
    background-color: rgb(75,0,130) !important;
    border: rgb(167, 146, 201) !important;
    margin: 10px;

}
